<!--<div class="card" style="width: 18rem;">-->
<!--  <div class="card-header">-->
<!--    Name: {{Student.name}}-->
<!--  </div>-->
<!--  <ul class="list-group list-group-flush">-->
<!--    <li class="list-group-item">Age: {{Student.age}}</li>-->
<!--    <li class="list-group-item">Gender: {{Student.check ? 'Nam' : 'Nữ'}}</li>-->
<!--    <li class="list-group-item" *ngIf="Student.age>18;else elseBlock">trưởng thành</li>-->
<!--    <ng-template #elseBlock>-->
<!--      <li class="list-group-item" >Còn non</li>-->
<!--    </ng-template>-->
<!--  </ul>-->
<!--</div>-->
