<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post" th:object="${user}">
    <label >ID</label>
    <input type="number" th:field="*{id}"><br><br>
    <span style="color:red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</span><br>
    <label>First name</label>
    <input type="text" th:field="*{firstName}"><br><br>
    <span style="color:red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</span><br>
    <label>Last name</label>
    <input type="text" th:field="*{lastName}"><br><br>
    <span style="color:red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</span><br>
    <label>Email</label>
    <input type="text" th:field="*{email}"><br><br>
    <span style="color:red;" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</span><br>
    <label>SDT</label>
    <input type="text" th:field="*{phoneNumber}"><br><br>
    <span style="color:red;" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</span><br>
    <label>Age</label>
    <input type="number" th:field="*{age}"><br><br>
    <button type="submit">Create now</button>
</form>

</body>
</html>