<!--<table class="table table-hover">-->
<!--  <tr>-->
<!--    <th>Id</th>-->
<!--    <th>Name</th>-->
<!--    <th>Age</th>-->
<!--    <th>Class</th>-->
<!--    <th>Gender</th>-->
<!--    <th colspan="2">Action</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let item of Student;let id=index;trackBy:myTracking">-->
<!--    <td>{{id}}</td>-->
<!--    <td>{{item.name}}</td>-->
<!--    <td>{{item.age}}</td>-->
<!--    <td>{{item.class}}</td>-->
<!--    <td>{{item.check ? 'Female' : 'Male'}}</td>-->
<!--    <td>-->
<!--      <button class="btn btn-danger">-->
<!--        Update-->
<!--      </button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button class="btn btn-light">-->
<!--        Delete-->
<!--      </button>-->
<!--    </td>-->
<!--  </tr>-->
<!--&lt;!&ndash;  <button class="btn btn-danger" (click)="getData()">Lấy dữ liệu</button>&ndash;&gt;-->
<!--</table>-->
