<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form">
    <form action="#" th:action="@{/edit}" th:object="${student}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>First Name</label>
            <input type="text" th:field="*{firstName}"/>
        </div>
        <div>
            <label>Last Name</label>
            <input type="email" th:field="*{lastName}"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Update"/>
        <a href="/customer/list" class="btn btn-danger">Back to list</a>
    </form>
</div>
<footer th:replace="layout:: footer"></footer>
</body>
</html>