* {
    margin: 0;
    padding: 0;
}
:root{
    --size3:25px;
}
/*==Style cơ bản cho website==*/
body {
    font-family: segoe ui light;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}
.top{
    display: flex;
}
/*==Style cho menu===*/
.tong .top .anh-logo img{
    margin-left: 150px;
    padding-top: 35px;
}
.tong .top .menu ul li a img{
    width: 16px;
}
.tong .top .menu .search-truyen{
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
   height: 30px;
}
.tong .top .menu .the-loai{
    margin-left: 15px;
}
.menu{
    margin-top: 30px;
    margin-left: 20px;
    width: 70%;
    position: relative;
    display: inline-block;
}
.menu ul {
    list-style-type: none;
    text-align: center;
}
.menu li {
    color: #f12a0f;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
.menu .button-dat-phong{
    border-radius: 25px;
    background:#e8a88c;
    margin-left: 210px;
}
.menu .button-dat-phong a:hover{
    color: #1abc9c;
    transition: 0.4s;
}
.menu a {
    text-decoration: none;
    color: rgba(8, 3, 1, 0.95);
    display: block;
    font-size: 15px;
}
.menu a:hover {
    color: #333;
    transition: 0.6s;
}

.menu li:hover{
    border-radius: 60px;
}
.tong .mid img{
    width: 100%;
}
.dropdown-content-list {
    margin-left: 150px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu:hover .dropdown-content-list {
    display: block;
}

.tong .mid{
    margin-top: 100px;
   display: flex;
}
.tong .mid .anh-lon{
    width: 350px;
    height: 200px;
    /* background-color: red; */
    display: flex;
    margin-left: 320px;
    flex-wrap: wrap;
}
.tong .mid .anh-lon:before{
    content: '';
    position: absolute;
    width: 350px;
    height: 200px;
    transition: 0.3s;
}
.tong .mid .anh-lon:hover:before{
    background-color: rgb(122, 122, 122);
    opacity: 0.4;
    width: 350px;
    height: 200px;
}
.tong .mid .anh-lon .anh-nho{
    width: 100%;
    height: 100%;
}

.tong .mid .button-xem-truyen{
   display: none;
    position: absolute;
    border-radius: 25px;
    background: #b7c1eb;
    margin-left: 434px;
    width: 125px;
    height: 35px;
    left: 0;
    margin-top: 111px;
}
.tong .mid .button-xem-truyen a{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 8px;
}
.tong .mid .button-xem-truyen a:hover{
    color: #1abc9c;
    transition: 0.4s;
}

.tong .mid .anh-lon:hover .button-xem-truyen {
    display:unset;
    transition: 1s;
    opacity: 0.8;
}
/*anh lon 2*/
.tong .mid .anh-lon2{
    width: 350px;
    height: 200px;
    /* background-color: red; */
    display: flex;
    margin-left: 170px;
    flex-wrap: wrap;
}
.tong .mid .anh-lon2:before{
    content: '';
    position: absolute;
    width: 350px;
    height: 200px;
    transition: 0.3s;
}
.tong .mid .anh-lon2:hover:before{
    background-color: rgb(122, 122, 122);
    opacity: 0.4;
    width: 350px;
    height: 200px;
}
.tong .mid .anh-lon2 .anh-nho2{
    width: 100%;
    height: 100%;
}

.tong .mid .button-xem-truyen2{
    display: none;
    position: absolute;
    border-radius: 25px;
    background: #b7c1eb;
    margin-left: 950px;
    width: 125px;
    height: 35px;
    left: 0;
    margin-top: 111px;
}
.tong .mid .button-xem-truyen2 a{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 8px;
}
.tong .mid .button-xem-truyen2 a:hover{
    color: #1abc9c;
    transition: 0.4s;
}

.tong .mid .anh-lon2:hover .button-xem-truyen2 {
    display:unset;
    transition: 1s;
    opacity: 0.8;
}