<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="index/css/login.css">
</head>
<body>
<div class="alert alert-danger alert-dismissible" th:if="${msg}" >
    <p th:if="${msg}" th:text="${msg}"></p>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="post" action="/login" th:object="${userLogin}">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" name="email" th:field="*{email}" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" name="password" th:field="*{password}" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
    </div>
</div>
<script src="index/js/login.js"></script>
</body>
</html>