<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:if="${msg}" th:text="${msg}" style="color: red"></h3>
<a href="/showCreate" class="btn btn-info">Create</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer:${listCustomer}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td><a th:href="@{/{id}/edit(id=${customer.id})}" class="btn btn-primary">Edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${customer.id})}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout:: footer"></footer>
</body>
</html>