<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Class</th>
    <th>Gender</th>
    <th colspan="2">Action</th>
  </tr>
  <tr *ngFor="let item of PersonList;let id=index;">
    <td>{{id}}</td>
    <td>{{item.email}}</td>
    <td>{{item.password}}</td>
    <td>{{item.age}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.country}}</td>
    <td>{{item.gender ? 'Female' : 'Male'}}</td>
    <td>
      <button class="btn btn-light">
        Click Component
      </button>
    </td>
    <td>
      <button class="btn btn-danger">
        Click Service
      </button>
    </td>
  </tr>
  <!--  <button class="btn btn-danger" (click)="getData()">Lấy dữ liệu</button>-->
</table>
